name: swift-testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Credit goes to https://github.com/KhaosT/MacVM/issues/22
# for helping me resolve signing issues-I didn't see this fix anywhere else!
jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        run: |
          set -euo pipefail
          xcodebuild test \
            -project "RandomReminder.xcodeproj" \
            -scheme "RandomReminder" \
            -destination "platform=macOS,arch=arm64" \
            -skipPackagePluginValidation \
            -testPlan "RandomReminder" \
            -only-testing:RandomReminderTests \
            | xcpretty
